@import 'src/service/style/colors.scss', 'src/service/style/fonts.scss';

.app {
  margin: 48px;
}

body {
  position: fixed;
  margin: 0;
}

p {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;

  margin-block-start: 0;
  margin-block-end: 0;
}

html {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: white;
}
