.breadcrumb {
  margin: 48px 48px 24px 48px;
}

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
}
ul > li {
  display: flex;
  float: left;
  height: 10px;
  width: auto;
  color: var(--secondary-text-color);
  font-weight: bold;
  font-size: .8em;
  cursor: pointer;
  align-items: center;

  > .text {
    line-height: 24px;
    color: var(--secondary-text-color);
    font-weight: 700;
  }
  &:last-child {
    > .text {
      color: var(--highlight-text-color);
    }
  }
}
ul > li:not(:last-child)::after {
  content: '/';
  float: right;
  font-size: 1.5em;
  margin: 0 .25em;
  color: var(--secondary-text-color);
  cursor: default;
}
