.document-list {
  .header {
    display: flex;
    > .button {
      margin-left: auto;
    }
    > .text {
      font-size: 32px;
      font-weight: 700;
      line-height: 48px;
      color: var(--primary-text-color);
    }
  }
  > .list {
    .header {
      background: green;
    }
    .items {
      overflow: auto;
      max-height: calc(100vh - 224px);
      padding: 8px;
    }
  }
}
