.document-list {
  .header {
    display: flex;
    flex-direction: column;
    .page-info {
      display: flex;
      > .button {
        margin-left: auto;
      }
      > .text {
        font-size: 32px;
        font-weight: 700;
        line-height: 48px;
        color: var(--primary-text-color);
      }
    }
  }

  .list {
    margin: 0 32px;
    overflow-y: auto;
    max-height: calc(100vh - 224px);
    padding: 16px;
  }
}
